<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardGamesNook</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BoardGamesNook</a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 collapse navbar-collapse" id="myNavbar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/Views/Home/Index.cshtml">
                            <i class="glyphicon"></i>&nbsp;Start
                        </a>
                    </li>
                    @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gamer <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Get", "Gamer")">
                                    <i class="glyphicon"></i>&nbsp;Gamer
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("GetAll", "Gamer")">
                                    <i class="glyphicon"></i>&nbsp;Gamer List
                                </a>
                            </li>
                        </ul>
                    </li>*@
                    <li>
                            <a href="#/Views/Gamer/Get.cshtml">
                                <i class="glyphicon"></i>&nbsp;Gamer
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetAll", "Gamer")">
                                <i class="glyphicon"></i>&nbsp;Gamer List
                            </a>
                        </li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4 ">
                <ul class="nav navbar navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="h3">
        @RenderSection("title", required: false)
    </div>
    <main>
        @RenderBody()
    </main>
</div>

@*<div id="footer">
    <span class="text-muted">&copy; @DateTime.Now.Year - BoardGamesNook</span>
</div>*@
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
