<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web application for board gamers"/>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <title>BoardGamesNook</title>
    <script src="~/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/systemjs.config.js"></script>
    <script>
        System.import('../../app/main.js')
            .catch(function(err) { console.error(err); });
    </script>
</head>
<body>
<div class="container">
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <span class="text-muted">
            BoardGamesNook @DateTime.Now.Year - <a target="_blank" href="https://programmer-girl.com">programmer-girl</a>
        </span>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/site.css">
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>